<% provide(:title, "楽ダイエットとは？") %>
<div id="fh5co-about">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="title-about">楽ダイエットとは？</h1>
        <h4>　自分ダイエット期間中作った料理を、写真・材料などと共に記録し、他のダイエット同志シェアするサービスです。</h4>
      </div>
      <div class="col-md-10">
        <h2 class="title-use">主な対象</h2>
        <div>
          <ol class="main-use">
            <li class="A">ダイエットしたいんですけど、何を食べるのかわからない方</li>
            <li class="B">ダイエット成功した人、ダイエット期間何を食べるのか、他の人にシェアしたい方</li>
          </ol>
        </div>
        <p class="about-line"></p>
        <ol class="main-use">
          <li class="C">YOU CAN</li>
        </ol>
        <div class="use-content">
          <p>　　作った料理をどんどん登録して、シェアしましょう。</p>
          <p>　　他の人作った料理を「お気に入り」や「フォロー」ができます、</p>
          <p>　　使いたい材料を元に検索して探したりすることができます。</p>
        </div>
      </div>
    </div>
  </div>
</div>
