<% provide(:title, '料理一覧') %>
<div id="fh5co-portfolio">
  <div class="container">
    <% if @search_word.present? %>
      <h3>”<%= @search_word %>”の検索結果：<%= @cooks.count %>件</h3>
    <% else %>
      <h3>料理一覧</h3>
    <% end %>
    <ul class="cooks">
      <%= render @cooks %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
